<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matt2929.strokeappdec2017">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <provider
        android:name=".SaveUserDataProvider"
        android:authorities="com.example.matt2929.strokeappdec2017.SaveUserDataProvider"
        android:exported="false" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation"
        android:icon="@drawable/mrehab"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cupicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.CreateNewUserActivity" />
        <activity android:name=".Activity.WorkoutOrHistoryOrCalendarActivity" />
        <activity android:name=".Activity.WorkoutSelectionActivity" />
        <activity android:name=".Activity.SensorWorkoutRunner" />
        <activity android:name=".Activity.TouchWorkoutRunner" />
        <activity android:name=".Activity.WorkoutPreviewActivity" />
        <activity android:name=".Activity.GoalsAndRepsActivity" />
        <activity android:name=".Activity.PostWorkoutReportActivity" />
        <activity android:name=".Activity.PostWorkoutGoalsActivity" />
        <activity android:name=".Activity.LoadingScreenActivity" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".Activity.CalendarSetActivity" />
        <activity android:name=".Activity.HistoryViewActivity" />
        <activity android:name=".Activity.PutPhoneInContainer" />
        <activity android:name=".Activity.SetGoalsActivity"></activity>
    </application>

</manifest>