<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matt2929.strokeappdec2017">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <provider
        android:name=".SaveUserDataProvider"
        android:authorities="com.example.matt2929.strokeappdec2017.SaveUserDataProvider"
        android:exported="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.CreateNewUser" />
        <activity android:name=".Activity.WorkoutOrHistory" />
        <activity android:name=".Activity.WorkoutSelection" />
        <activity android:name=".Activity.SensorWorkoutRunner" />
        <activity android:name=".Activity.TouchWorkoutRunner" />
        <activity android:name=".Activity.WorkoutPreview" />
        <activity android:name=".Activity.GoalsAndReps" />
        <activity android:name=".Activity.PostWorkoutReport" />
        <activity android:name=".Activity.PostWorkoutGoals" />
        <activity android:name=".Activity.LoadingScreen" />
        <activity android:name=".Activity.HistoryMain"></activity>
    </application>

</manifest>